*.debhelper.log
changelog
control
files
quagga-mr
quagga-mr-dbg
quagga-mr-dbg.*.debhelper
quagga-mr-dbg.substvars
quagga-mr-doc
quagga-mr-doc.*.debhelper
quagga-mr-doc.substvars
quagga-mr.*.debhelper
quagga-mr.substvars
